* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 3em;
    background-color: bisque;
}

.container {
    display: flex;
    max-width: 65vw;
    border: 1px solid black;
}

section {
    display: flex;
    flex-wrap: wrap;
}

.notes {
    flex-direction: column;
    width: 30%;
}

.notes span {
    padding: 0.3em 0.5em 0 0.5em;
    background-color: white;
}

span {
    border: 1px solid black;
    flex-grow: 1;
    padding: 1em 1em 3em 1em;
    text-align: center;
}

section.week span:nth-child(1),
section.week span:nth-child(7) {
    flex-basis: 100%;
    text-align: center;
}

section.week span:nth-child(1),
section.week span:nth-child(1) ~ span {
    background-color: rgb(33, 166, 157);
}

section.week span:nth-child(7),
section.week span:nth-child(7) ~ span {
    background-color: rgb(18, 207, 18);
}




