.page {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.site-header,
.site-footer,
.sign-up {
    flex: 0 0 100%;
}


.horde-characters,
.alliance-characters {
    flex: 0 0 60%;

    & div.title {
        flex: 0 0 100%;
    }
}

.about {
    flex: 0 0 60%;
}

blockquote {
    flex: 0 1 60%;
}

figure {
    flex: 0 1 30%;
}

.card {
    flex: 0 0 30%;
}

.sign-up {
    flex: 0 0 100%;
}

.site-footer {
    flex: 0 0 100%;
}

.info {
    flex: 0 0 20%;
}

form {
    flex: 0 1 30%;
}

.search-input {
    width: 100%;
}

input {
    flex: 0 0 70%;
}

