.horde-characters,
.alliance-characters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;

    & div.title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}