@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap');

* {
    box-sizing: border-box;
}

html {
    font: 16px/1.5 Helvetica, sans-serif;
}

body {
    padding: 0 1em;
}

header {
    border-bottom: 4px solid rgb(114, 114, 114);
}

header .site-title a {
    color: #000;
    text-decoration: none;
    font-size: 3em;
    font-weight: bold;
    margin-right: 2em;
}

header .site-title,
header nav {
    display: inline-block;
}

nav ul {
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0.5em;
}

nav ul li a {
    text-decoration: none;
    color: rgb(41, 192, 41);
    font-size: 1.2em;
}

h1 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;  
}

main p {
    text-align: justify;
}


