button {
    padding: 0 1em;
    border-radius: 0.2em;
    border: none;
}

.button {
    background-color: rgb(9, 130, 130);
    text-decoration: none;
    padding: 0.3em;
    border-radius: 10px;
    color: #fff;
    opacity: 0.8;
    transition: opacity 0.3s ease-in;
}

.button:hover {
    opacity: 1;
}

