* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

html {
    font: 16px/2.5 Helvetica, sans-serif ;
}

body {
    padding: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    background-color: rgb(11, 135, 188);
    border-radius: 10px;
    border: 5px solid black;
    padding: 2em;
    flex: 0 0 60%;
    gap: 1em;
}

blockquote {
    display: flex;
    flex-direction: column;
    flex: 0 0 70%;
    padding-top: 2em;
    gap: 2em;
}

blockquote h1 {
    color: white;
    font-size: 2.8em;
    font-weight: normal;
}

blockquote h3 {
    text-transform: uppercase;
}

blockquote p {
    text-indent: 3em;
    padding-right: 3em;
}

figure {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
}

.buttons a {
    text-decoration: none;
    border: 1.5px solid black;
    border-radius: 5px;
    padding: 0.3em 1em;
    font-weight: bold;
}

.buttons a:nth-child(1) {
    background-color: rgb(188, 76, 137);
    color: rgb(255, 255, 255);
}

.buttons a:nth-child(2) {
    color: rgb(0, 0, 0);

}
