@media (max-width: 750px) {

    body {
        font-size: 20px;
    }

    header {
        padding-bottom: 0;
    }

    header nav {
        justify-content: center;
        margin: 0;
    }

    header nav ul li{
        display: block;
        padding: 5px;
        font-size: 20px;
        text-align: center;
    }

    .header-title {
        padding: 2.5em 0;
    }

    .header-title h1 {
        font-size: 46px;
    }

    .choose-us li h4 {
        font-size: 24px;
      }

    .choose-us ul {
        flex-direction: column;
        gap: 2em;
        justify-content: center;
        align-items: center;
    }

    .choose-us li {
        max-width: 50%;
    }


    .about-us p:nth-child(3) {
        width: 100%;
    }

    .team-description ul {
        gap: 2em;
    }

    .team-description ul li img {
        display: block;
        width: 100%;
        height: auto;
    }


}